.css-jkscjg {
    display: inline-flex;
    position: relative;
    font-size: 1.5rem;
    color: rgb(250, 175, 0);
    cursor: pointer;
    text-align: left;
    width: min-content;
    -webkit-tap-highlight-color: transparent;
    pointer-events: none;
}